/* MIX */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: arial;
  position:relative;
}
a{
  text-decoration: none;
  color:grey;
}
button{
  color: grey;
}
/* header layout */
header{
  background-color: #fff;
  display:flex;
  justify-content: space-between;
  padding: 20px 30px;
  height:100px;
  box-shadow: 0px 0 10px 1px #88888838;
  position:fixed;
  right:0;
  top:0;
  left:0;
}
  /* posizionamento menu principale */
  .left-header, .right-header, .left-menu > ul, .right-menu > ul,
  .login ul{
    display:flex;
    align-items: center;
  }
  /* .left-menu > ul, .right-menu > ul{
    position:relative;
  } */
  /* /posizionamento menu principale */

  /* layout li */
  header ul li{
    list-style-type: none;
    padding:15px;
    position:relative;
  }
  /* /layout li */

  /* layout logo */
  .logo{
    padding-right: 25px;
  }
  /* /layout logo */

  /* layout right-menu and left-menu*/

  .right-menu button{
    background-color:transparent;
    border:none;
    font-size:16px;
  }
  /* /layout right-menu */

  /* layout login */
  .login ul li:first-of-type a,
  .login ul li:last-of-type a{
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 10px;
  }
  .login ul li:first-of-type a{
    color:#000;
    background-color:#EBEBEB;
  }
  .login ul li:last-of-type a{
    color:#fff;
    background-color: #000;
  }
  /* /layout login */

  /* layout sub menu */
  .sub-menu{
    position:absolute;
    background-color: #fff;
    top:35px;
    left:6px;
    padding: 10px 0;
    width: 150px;
    border-radius:10px;
    padding: 0 10px;
    margin-top: 15px;
    box-shadow: 0 0 10px #F2F2F2;
    display:none;
  }
  .sub-menu li {
    padding:13px 0;
  }
  .active{
    display:inline-block;
  }
  .black{
    color:#000;
  }
  /* /layout sub menu */

  .hamburger-menu{
    display:none;
  }
  .responsive-menu{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff;
    display:none;


  }
  .top-menu{
    display:flex;
    justify-content: space-between;
    height:10vh;
    padding:20px;
    align-items:center;
  }
  .top-menu li {
    padding:10px;
  }
  .middle-menu{
    height:80vh;
    padding-left:30px;
  }
  .middle-menu ul li {
    margin: 30px 0;
  }
  .bottom-menu{
    display:flex;
    justify-content: center;
    height:10vh;
    padding: 10px 0;
  }
  .left-submenu ul{
    display:flex;
  }
  .left-submenu ul li, .middle-menu ul li, .bottom-menu ul li{
    list-style-type: none;
  }
  .bottom-menu ul{
    display:flex;
  }
  .bottom-menu ul li{
    margin: 0 10px;
  }
  .bottom-menu ul li a{
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 10px;
    display:inline-block;
  }
  .bottom-menu ul li:first-of-type a{
    color:#000;
    background-color:#EBEBEB;
  }
  .bottom-menu ul li:last-of-type a{
    color:#fff;
    background-color: #000;
  }
  .display-none{
    display:none;
  }
  /* responsive */
  @media screen and (max-width:1070px) {
    .right-menu, .login, .left-menu{
      display:none;
    }
    .hamburger-menu{
      display:inline-block;
    }

  }


  /* /responsive */

/* /header layout */
