/* MIX */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: arial;
}
a{
  text-decoration: none;
  color:grey;
}
/* header layout */
header{
  background-color: #fff;
  display:flex;
  justify-content: space-between;
  padding: 20px 30px;
  height:100px;
  box-shadow: 0px 0 10px 1px #88888838;
  position:fixed;
  right:0;
  top:0;
  left:0;
}
  /* posizionamento menu principale */
  .left-header, .right-header, .left-menu > ul, .right-menu > ul,
  .login ul{
    display:flex;
    align-items: center;
  }
  /* .left-menu > ul, .right-menu > ul{
    position:relative;
  } */
  /* /posizionamento menu principale */

  /* layout li */
  header ul li{
    list-style-type: none;
    padding:15px;
    position:relative;
  }
  /* /layout li */

  /* layout logo */
  .logo{
    padding-right: 25px;
  }
  /* /layout logo */

  /* layout login */
  .login ul li:first-of-type a,
  .login ul li:last-of-type a{
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 10px;
  }
  .login ul li:first-of-type a{
    color:#000;
    background-color:#EBEBEB;
  }
  .login ul li:last-of-type a{
    color:#fff;
    background-color: #000;
  }
  /* /layout login */

  /* layout sub menu */
  .sub-menu{
    position:absolute;
    background-color: #fff;
    top:35px;
    left:6px;
    padding: 10px 0;
    width: 150px;
    border-radius:10px;
    padding: 0 10px;
    margin-top: 15px;
    box-shadow: 0 0 10px #F2F2F2;
  }
  .sub-menu li {
    padding:13px 0;
  }


  /* /layout sub menu */

/* /header layout */

/* main */
  main{
    margin-top: 150px;
  }
/* /main */
